<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436161211841-12ofqhq0n6l2dl9l81ctk5n6r17dasrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436161211841-12ofqhq0n6l2dl9l81ctk5n6r17dasrf</string>
	<key>API_KEY</key>
	<string>AIzaSyAYKKCxUBiwh6ARmvQpqL9IIdkuRVkPj4A</string>
	<key>GCM_SENDER_ID</key>
	<string>436161211841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>hype-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>hype-poc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436161211841:ios:8f8bffbdb7f944ad6a5340</string>
</dict>
</plist>